Repository AlexOBarnes/StarWatch, pull requests merged in 2024-10, with the labels that each got.

#96 Finished writing database schema DDL
  database/schema.sql
Labels: enhancement, database

#99 Added assets folder and ERD diagram to assets folder
  assets/ERD_starwatch.png
Labels: documentation, enhancement, database, AWS, dashboard

#102 Updated and added 'finalised' architecture diagram to assets folder: Andrew
  assets/starwatch_architecture_diagram.png
Labels: documentation, terraform

#101 Updated schema sql : Caleb
  database/schema.sql
Labels: database

#103 Add readme to dashboard and database : Alex
  dashboard/README.md
  database/README.md
Labels: documentation

#105 Updated ERD : Caleb
  assets/ERD_starwatch.png
Labels: documentation, database

#106 Create bash scripts: Alex
  database/connect.sh
  database/query.sh
  database/reset.sh
Labels: database, shell script

#115 Fake schema data oliver
  database/fake_data.sql
Labels: enhancement

#124 Removed notes, final commit.
  database/fake_data.sql
Labels: enhancement, database

#116 Add Terraform README: alex
  terraform/README.md
Labels: documentation

#130 Create deploy.yml : Alex
  .github/workflows/deploy.yml
Labels: documentation, dockerise, AWS, CI/CD

#131 Finished SQL inserts for static data : Caleb
  database/schema.sql
Labels: enhancement, database

#136 Create Truncate and Count scripts: Alex
  database/count.sh
  database/truncate.sh
Labels: enhancement, database, shell script

#137 Weekly openmeteo extract.py: Alex
  weekly-openmeteo/api_error.py
  weekly-openmeteo/conftest.py
  weekly-openmeteo/extract.py
  weekly-openmeteo/requirements.txt
  weekly-openmeteo/test_extract.py
  weekly-openmeteo/test_transform.py
  weekly-openmeteo/transform.py
Labels: enhancement, testing, OpenMeteo pipeline-weekly

#143 Weekly openmeteo transform.py: Alex
  weekly-openmeteo/conftest.py
  weekly-openmeteo/test_transform.py
  weekly-openmeteo/transform.py
Labels: enhancement, testing, OpenMeteo pipeline-weekly

#142 Created extract and test_extract files for weekly astronomy API pipeline
  astronomy-pipeline/astronomy_extract.py
  astronomy-pipeline/astronomy_extract_functions.py
  astronomy-pipeline/conftest.py
  astronomy-pipeline/db_connect.sh
  astronomy-pipeline/requirements.txt
  astronomy-pipeline/test_astronomy_pipeline.py
Labels: enhancement, database, astronomy API

#144 Weekly openmeteo load.py: Alex
  weekly-openmeteo/Dockerfile
  weekly-openmeteo/conftest.py
  weekly-openmeteo/load.py
  weekly-openmeteo/pipeline.py
  weekly-openmeteo/test_load.py
Labels: enhancement, testing, dockerise, OpenMeteo pipeline-weekly, astronomy API

#148 Aurora pipeline extract and tests complete : Caleb
  aurorawatch-pipeline/aurora_extract.py
  aurorawatch-pipeline/conftest.py
  aurorawatch-pipeline/requirements.txt
  aurorawatch-pipeline/test_aurora_extract.py
Labels: enhancement, testing, aurorawatch pipeline

#147 Sms checker: Alex
  sms-checker/checker.py
  sms-checker/conftest.py
  sms-checker/message.py
  sms-checker/notification_lambda.py
  sms-checker/requirements.txt
  sms-checker/test_checker.py
  sms-checker/test_message.py
Labels: enhancement, testing, SMS-checker

#145 StarWatch Terraform build implementation.
  .gitignore
  terraform/main.tf
  terraform/variables.tf
Labels: terraform, AWS

#149 Update readme alex
  weekly-openmeteo/README.md
  weekly-openmeteo/requirements.txt
Labels: documentation

#151 Astronomy transform script
  .gitignore
  astronomy-pipeline/astronomy_extract.py
  astronomy-pipeline/astronomy_extract_functions.py
  astronomy-pipeline/astronomy_pipeline.py
  astronomy-pipeline/astronomy_transform.py
  astronomy-pipeline/astronomy_transform_functions.py
  astronomy-pipeline/conftest.py
  astronomy-pipeline/requirements.txt
Labels: enhancement, astronomy API

#159 Bash script for seeding test data, fixed test data : Caleb
  database/fake_data.sql
  database/seed_test.sh
Labels: enhancement, database, shell script

#158 Updated ERD diagram : Caleb
  assets/ERD_starwatch.png
Labels: documentation, database

#156 SMS lambda and dockerfile: Alex
  sms-checker/Dockerfile
  sms-checker/notification_lambda.py
  sms-checker/requirements.txt
Labels: enhancement, dockerise, SMS-checker

#160 Update readme for SMS checker: Alex
  sms-checker/README.md
  sms-checker/checker.py
  sms-checker/message.py
Labels: documentation, SMS-checker

#163 Quadhoral openmeteo alex
  quadhoral-openmeteo/api_error.py
  quadhoral-openmeteo/conftest.py
  quadhoral-openmeteo/quadhoral_extract.py
  quadhoral-openmeteo/requirements.txt
  quadhoral-openmeteo/test_quadhoral_extract.py
Labels: enhancement, testing, OpenMeteo pipeline-quadhorally

#167 Added Lambdas and ECS access to environment variables
  terraform/main.tf
  terraform/variables.tf
Labels: bug, terraform, AWS

#168 Quadhoral openmeteo alex
  quadhoral-openmeteo/conftest.py
  quadhoral-openmeteo/quadhoral_extract.py
  quadhoral-openmeteo/quadhoral_transform.py
  quadhoral-openmeteo/test_quadhoral_extract.py
  quadhoral-openmeteo/test_quadhoral_transform.py
Labels: enhancement, testing, OpenMeteo pipeline-quadhorally

#172 Finished Aurora load and tests : Caleb
  aurorawatch-pipeline/aurora_load.py
  aurorawatch-pipeline/conftest.py
  aurorawatch-pipeline/requirements.txt
  aurorawatch-pipeline/test_aurora_load.py
Labels: enhancement, testing, aurorawatch pipeline

#173 Quadhoral openmeteo alex
  quadhoral-openmeteo/conftest.py
  quadhoral-openmeteo/quadhoral_extract.py
  quadhoral-openmeteo/quadhoral_load.py
  quadhoral-openmeteo/quadhoral_transform.py
  quadhoral-openmeteo/test_quadhoral_extract.py
  quadhoral-openmeteo/test_quadhoral_load.py
Labels: enhancement, testing, OpenMeteo pipeline-quadhorally

#174 Aurora pipeline finished : Caleb
  aurorawatch-pipeline/Dockerfile
  aurorawatch-pipeline/aurora_pipeline.py
Labels: enhancement, dockerise, aurorawatch pipeline

#179 Updated ERD : Caleb
  assets/ERD_starwatch.png
Labels: documentation, database

#178 Update schema : Caleb
  database/schema.sql
Labels: bug, database

#175 Quadhoral openmeteo create dockerfile: Alex
  quadhoral-openmeteo/Dockerfile
  quadhoral-openmeteo/quadhoral_lambda.py
Labels: enhancement, dockerise, OpenMeteo pipeline-quadhorally, AWS

#183 Updated README aurorawatch: Alex
  aurorawatch-pipeline/README.md
Labels: documentation, aurorawatch pipeline

#191 Created astronomy dockerfile.
  astronomy-pipeline/Dockerfile
Labels: enhancement, dockerise, astronomy API, AWS

#195 Edited dockerfile names.
  astronomy-pipeline/Dockerfile
Labels: enhancement, dockerise, astronomy API, AWS

#193 Made env variables consistent in naming: Alex
  aurorawatch-pipeline/README.md
  dashboard/deploy.sh
  sms-checker/README.md
  sms-checker/message.py
  weekly-openmeteo/README.md
Labels: documentation

#204 Tests for astronomy load done : Caleb
  astronomy-pipeline/conftest.py
  astronomy-pipeline/test_astronomy_load.py
Labels: testing, astronomy API

#206 Moved functions from function files into appropriate scripts : Caleb
  astronomy-pipeline/Dockerfile
  astronomy-pipeline/astronomy_extract.py
  astronomy-pipeline/astronomy_extract_functions.py
  astronomy-pipeline/astronomy_load.py
  astronomy-pipeline/astronomy_pipeline.py
  astronomy-pipeline/astronomy_transform.py
  astronomy-pipeline/astronomy_transform_functions.py
  astronomy-pipeline/test_astronomy_extract.py
Labels: enhancement, astronomy API

#211 Added logging to astronomy pipeline.
  astronomy-pipeline/astronomy_extract.py
  astronomy-pipeline/astronomy_load.py
  astronomy-pipeline/astronomy_pipeline.py
  astronomy-pipeline/astronomy_transform.py
  astronomy-pipeline/test_astronomy_extract.py
Labels: enhancement, astronomy API

#197 Updated Quadhoral openmeteo pipeline readme
  quadhoral-openmeteo/README.md
Labels: documentation, OpenMeteo pipeline-quadhorally

#198 Updated readme for astronomy pipeline: alex
  astronomy-pipeline/README.md
Labels: documentation, astronomy API

#212 Added basic error handling changes with API test class file.
  astronomy-pipeline/api_error.py
  astronomy-pipeline/astronomy_extract.py
Labels: enhancement, astronomy API

#219 Finished tests for transform : Caleb
  astronomy-pipeline/conftest.py
  astronomy-pipeline/test_astronomy_extract.py
  astronomy-pipeline/test_astronomy_load.py
  astronomy-pipeline/test_astronomy_transform.py
Labels: testing, astronomy API

#217 Updated Terraform readme: Alex
  terraform/README.md
Labels: documentation, terraform

#218 Simplified Stellarium integration and added subscriber sign-up to the Streamlit Dashboard.
  dashboard/dashboard.py
Labels: database, dashboard

#225 Updating schema : Caleb
  database/schema.sql
Labels: database

#227 Updated database readme : Caleb
  database/README.md
Labels: documentation, database

#226 Add nasa images to database: Alex
  dashboard/image_pipeline.py
  dashboard/requirements.txt
  dashboard/test_image_pipeline.py
Labels: enhancement, dashboard

#228 Altered ERD : Caleb
  assets/ERD_starwatch.png
Labels: documentation, database

#241 Added altitude filter to astronomy extract.
  astronomy-pipeline/astronomy_extract.py
  astronomy-pipeline/conftest.py
  astronomy-pipeline/test_astronomy_extract.py
Labels: bug, enhancement, astronomy API

#238 Updated readme for dashboard: alex
  dashboard/README.md
Labels: documentation, dashboard

#234 Add nasa images
  dashboard/image_pipeline.py
  dashboard/test_image_pipeline.py
  sms-checker/checker.py
  sms-checker/notification_lambda.py
Labels: dashboard

#242 Dashboard graphs alex
  dashboard/azimuth_plot.py
  dashboard/requirements.txt
Labels: enhancement, dashboard

#243 Add aurora checker to SMS: Alex
  sms-checker/checker.py
  sms-checker/conftest.py
  sms-checker/message.py
  sms-checker/notification_lambda.py
  sms-checker/test_checker.py
  sms-checker/test_message.py
Labels: enhancement, SMS-checker

#249 Update skyplot alex
  dashboard/azimuth_plot.py
Labels: bug, dashboard

#252 Update dashboard: alex
  dashboard/dashboard.py
  dashboard/image_pipeline.py
Labels: enhancement, dashboard

#253 Added precipitation visualisations, and formatted Weather page.
  dashboard/dashboard.py
  dashboard/hold.py
  dashboard/load_dashboard_data.py
  dashboard/requirements.txt
Labels: database, dashboard

#260 Testing new pytest yaml.
  .github/workflows/py_test.yml
Labels: documentation, enhancement, testing, CI/CD

#265 Added artifact feature to pylint yaml
  .github/workflows/py_lint.yml
Labels: documentation, enhancement, testing, CI/CD

#270 Added dashboard wireframe to assets folder
  assets/starwatch_dashboard_wireframe.png
  dashboard/README.md
Labels: documentation, enhancement, dashboard

#274 Finished both maps for the dashboard : Caleb
  dashboard/aurora_map.py
  database/schema.sql
Labels: enhancement, dashboard

#280 Dashboard readme: Ollie
  dashboard/README.md
Labels: documentation, dashboard

#286 Added filenames to dashboard readme: Ollie
  dashboard/README.md
Labels: documentation, dashboard

#289 Dashboard global readme oliver
  dashboard/README.md
  dashboard/hold.py
  dashboard/load_dashboard_data.py
Labels: documentation, dashboard

#288 Wrote tests for dashboard functions: Caleb
  .github/workflows/py_test.yml
  dashboard/aurora_map.py
  dashboard/requirements.txt
  dashboard/test_aurora_map.py
  dashboard/test_image_pipeline.py
Labels: testing, database, dashboard
